<h1>Editing coin</h1>

<%= render "form", coin: @coin %>

<br>

<div>
  <button>
    <%= link_to "Show this coin", @coin %>
  </button>
  <button>
    <%= link_to "Back to coins", coins_path %>
  </button>
</div>
