<p style="color: green"><%= notice %></p>

<h1>Coins</h1>
<table>
  <tr>
    <td>
      <button>
        <%= link_to "New coin", new_coin_path %>
      </button>
    </td>
  </tr>
</table>

<div id="coins">
  <% @coins.each do |coin| %>
    <%= render coin %>
    <button><%= link_to "Details", coin %></button>
  <% end %>
</div>
