<p style="color: green"><%= notice %></p>

<h1>Coins</h1>
<table>
  <tr>
    <td><%= button_to "New coin", new_coin_path, method: :get %></td>
  </tr>
</table>
<br>
<div id="coins">
  <% @coins.each do |coin| %>
    <%= render coin %>
  <% end %>
</div>
