<h1>Welcome</h1>

<table align="left" style="width:300px; background-color:#f2f2f2;">
  <tr>
    <td><strong>Data:</strong> <%= br_date(Date.today) %></td>
    <td><%= button_to "Coins", coins_path, method: :get %></td>
    <td><%= button_to "New coin", new_coin_path, method: :get %></td>
  </tr>
  <tr>

  </tr>
</table>
